<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ridgeback">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ridgeback urdf file -->
    <xacro:include filename="$(find mmp_description)/urdf/ridgeback_ur.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="ridgeback.ros2_control.xacro" />


    <xacro:ridgeback_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
